.list-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 220px 0 100px 0 ;
}
.list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}