.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form label {
    font-weight: 700;
    font-size: 25px;
}
.form textarea {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
}
.container-button {
    display: flex;
    width: 250px;
    justify-content: space-between;
}
.container-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #776ba2;
    border-radius: 15px;
    padding: 0 10px 0;
    background-color: #b6b5ee;
    text-align: center;
    font-family: 'Kodchasan', sans-serif;
}
.container-button button:hover {
    cursor: pointer;
}