button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 130, 130);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40px;
    right: -256px;
}