* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Kodchasan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(212, 169, 220);
}

